@function isLeapYear($year){
    @if($year % 100 == 0){
        @return true;
    }
    @if($year % 400 == 0){
        @return true;
    }
    @if($year % 4 == 0){
        @return true;
    }

    @return false;
}

body{
    isLeap2023: isLeapYear(2023);
    isLeap2020: isLeapYear(2020);
    isLeap1900: isLeapYear(1900);
    isLeap2300: isLeapYear(2300);
}